@media (max-width: 600px) {
    main {
        margin-top: 5em;
        margin-bottom: 5em;
        flex-direction: column;
        width: 70%;
        height: 100%;
    }
    .sedans {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .luxury {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
}